@import "../node_modules/bulma-divider/dist/css/bulma-divider.min.css";
@import "../node_modules/bulma/css/bulma.min.css";
@import "../node_modules/bulma-modal-fx/dist/css/modal-fx.min.css";

#shi-navbar-menu {
  background-color: transparent;
  padding: initial;
}

#shi-sidebar {
  flex: none;
  width: 50px;
  padding: .75rem 0;
  background-color: #292929;
}

#shi-sidebar .menu-list li:hover {
  filter: brightness(125%);
}

#shi-sidebar .menu-list a:hover {
  background-color: initial;
}

#shi-sidebar .menu-list li.is-active-page {
  box-shadow: inset 4px 0 0 -2px #bf9c63;
}

#shi-sidebar .menu-list li.is-active-page .icon {
  color: #bf9c63 !important;
}

#shi-main {
  flex: 1;
  padding: 1.5rem 1.5rem 0.5rem;
}

#shi-replies-box {
  margin-top: 0.5rem;
}

#shi-replies {
  overflow-y: auto;
}

#shi-name,
#shi-name-field,
#shi-word {
  margin-bottom: 0;
}

#shi-word-search {
  width: 1%;
}

#shi-user-counts {
  position: absolute;
  right: .75rem;
  bottom: .75rem;
}

#shi-footer {
  background-color: initial;
  padding: 1.5rem;
}

#shi-invalid-message {
  height: 46px;
}

#help-header {
  background-color: #F5E6CE;
}

#help-content {
  overflow: auto;
  max-height: calc(100vh - 160px - 44px);
}

[id^="shi-search-word-line-parent"][aria-hidden="true"] {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  transition:
    padding-top .2s ease-in,
    padding-bottom .2s ease-in,
    border 0s step-start;
}

[id^="shi-search-word-line-parent"]:not([aria-hidden="true"]) {
  transition:
    padding-top .2s ease-out,
    padding-bottom .2s ease-out,
    border .1s step-end;
}

[id^="shi-search-word-line-parent"] > div {
  overflow-y: hidden;
}

[id^="shi-search-word-line-parent"][aria-hidden="true"] > div {
  max-height: 0 !important;
  transition: max-height .2s ease-in;
}

[id^="shi-search-word-line-parent"]:not([aria-hidden="true"]) > div {
  transition: max-height .2s ease-out;
}

html, body, .home-outside-container, .home-inside-container, .home-inside-container > .home-body {
  height: 100%;
  margin: 0;
}

.home-inside-container {
  display: flex;
  flex-flow: column;
}

.home-inside-container > .home-body {
  min-height: calc(100% - 52px);
  height: 100%;
}

.home-inside-container > .home-body > .content {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar.shi-navbar {
  background-color: #333333;
  color: #f5f5f5;
}

.shi-primary {
  background-color: #F5A623;
}

.shi-secondary {
  background-color: #F5C87F;
}

.shi-tertiary {
  background-color: #F5E6CE;
}

.shi-primary-dark-text {
  color: #ed9e00 !important;
}

.pointer {
  cursor: pointer;
}

.button.transparent {
  background-color: transparent;
  border-color: transparent;
}

.button.transparent:hover {
  filter: brightness(125%);
}

.break-word {
  overflow-wrap: break-word;
}

.is-vbottom {
  align-items: baseline;
}

.is-vmiddle {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.shi-search-word-line > div {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 769px), print {
  .shi-search-word-line > div:nth-last-child(n + 5) {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  #shi-sidebar {
    display: none;
  }

  .shi-search-word-line > div:nth-last-child(n + 3) {
    padding-bottom: 0;
  }
}

/* override */
table.table tbody th {
  text-align: right;
}

table.table tbody th,
table.table tbody td {
  border-color: #F5E6CE;
  vertical-align: middle;
}

.dropdown .dropdown-menu {
  min-width: initial;
}

a.dropdown-item {
  width: initial;
  padding: 0 .5rem;
  text-align: center;
}

.is-divider {
  margin: 1.5rem 0;
}

/* https://github.com/jgthms/bulma/issues/1445#issuecomment-345503099 */
.navbar-item {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
