#shi-navbar-menu {
  background-color: transparent;
  padding: initial;
}

#shi-name,
#shi-name-field {
  margin-bottom: 0;
}

#shi-user-counts {
  position: absolute;
  right: .75rem;
  bottom: .75rem;
}

.navbar.shi-navbar {
  background-color: #333333;
  color: #f5f5f5;
}

.shi-primary {
  background-color: #F5A623 !important;
}

.shi-secondary {
  background-color: #F5C87F;
}

.shi-tertiary {
  background-color: #F5E6CE;
}

.pointer {
  cursor: pointer;
}

.button.transparent,
.button.transparent:hover {
  background-color: transparent;
  border-color: transparent;
}

.break-word {
  overflow-wrap: break-word;
}

.is-vbottom {
  align-items: baseline;
}

.relative {
  position: relative;
}

/* https://github.com/jgthms/bulma/issues/1445#issuecomment-345503099 */
.navbar-item {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
