@charset "utf-8";

$navbar-active-color: #bf9c63;

$navbar-breakpoint: 0;

// Navbar
$navbar-tab-hover-border-bottom-color: $navbar-active-color;
$navbar-tab-active-color: $navbar-active-color;
$navbar-tab-active-border-bottom-color: $navbar-active-color;
$navbar-dropdown-item-active-color: $navbar-active-color;

@import "~bulma/bulma";
@import "~bulma-divider/dist/css/bulma-divider";
@import "~bulma-modal-fx/dist/css/modal-fx";

#shi-navbar-menu {
  background-color: transparent;
  padding: initial;
}

#shi-main {
  flex: 1;
  padding: 0.5rem 1.5rem 0.5rem;
}

#shi-replies-box {
  margin-top: 0.5rem;
}

#shi-replies {
  overflow-y: auto;
}

#shi-name,
#shi-name-field,
#shi-word {
  margin-bottom: 0;
}

#shi-word-search {
  width: 1%;
}

#shi-user-counts {
  position: absolute;
  right: .75rem;
  bottom: .75rem;
}

#shi-footer {
  background-color: initial;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

#shi-invalid-message {
  height: 46px;
}

#help-header {
  background-color: #F5E6CE;
}

#help-content {
  overflow: auto;
  max-height: calc(100vh - 160px - 44px);
}

[id^="shi-search-word-line-parent"][aria-hidden="true"] {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  transition:
    padding-top .2s ease-in,
    padding-bottom .2s ease-in,
    border 0s step-start;
}

[id^="shi-search-word-line-parent"]:not([aria-hidden="true"]) {
  transition:
    padding-top .2s ease-out,
    padding-bottom .2s ease-out,
    border .1s step-end;
}

[id^="shi-search-word-line-parent"] > div {
  overflow-y: hidden;
}

[id^="shi-search-word-line-parent"][aria-hidden="true"] > div {
  max-height: 0 !important;
  transition: max-height .2s ease-in;
}

[id^="shi-search-word-line-parent"]:not([aria-hidden="true"]) > div {
  transition: max-height .2s ease-out;
}

html, body, .home-container, .home-container > .home-body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.has-text-navbar {
  color: $grey-light;

  .is-active & {
    color: $navbar-active-color;
  }
}

.home-container {
  display: flex;
  flex-flow: column;
}

.home-container > .home-body {
  min-height: calc(100% - 52px);
  height: 100%;
}

.home-container > .home-body > .content {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.home-container > .home-body > .content > * {
  -webkit-tap-highlight-color: initial;
}

.navbar.shi-navbar {
  background-color: #333333;
  color: #f5f5f5;
}

.shi-primary {
  background-color: #F5A623;
}

.shi-secondary {
  background-color: #F5C87F;
}

.shi-tertiary {
  background-color: #F5E6CE;
}

.shi-primary-dark-text {
  color: #ed9e00 !important;
}

.pointer {
  cursor: pointer;
}

.button.transparent {
  background-color: transparent !important;
  border-color: transparent;
}

.button.transparent:hover {
  filter: brightness(125%);
}

.break-word {
  overflow-wrap: break-word;
}

.is-vbottom {
  align-items: baseline;
}

.is-vmiddle {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.display-none {
  display: none;
}

.shi-search-word-line > div {
  padding-left: 0;
  padding-right: 0;
}

.navbar-dropdown-icon {
  justify-content: initial;
  width: initial;
}

.navbar-dropdown-itemname {
  padding-left: .25rem;
}

.navbar-icon-text {
  font-size: 10px;
}

@media screen and (min-width: 769px), print {
  .shi-search-word-line > div:nth-last-child(n + 5) {
    padding-bottom: 0;
  }

  .home-container > .home-body > .content {
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .shi-search-word-line > div:nth-last-child(n + 3) {
    padding-bottom: 0;
  }
}

/* override */
table.table tbody th {
  text-align: right;
}

table.table tbody th,
table.table tbody td {
  border-color: #F5E6CE;
  vertical-align: middle;
}

.dropdown .dropdown-menu {
  min-width: initial;
}

a.dropdown-item {
  width: initial;
  padding: 0 .5rem;
  text-align: center;
}

.navbar-link {
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
}

.navbar-item.has-dropdown {
  padding: 0.5rem 0.75rem;
}

button.navbar-link:focus:not(:active) {
  box-shadow: none;
}

.navbar-dropdown {
  background-color: #333333;
  border-top-color: #444444;
}

.navbar-dropdown > a.navbar-item:hover {
  background-color: initial;
  filter: brightness(125%);
}

.navbar-dropdown > button {
  font-size: .875rem;
  width: 100%;
  justify-content: initial;
}

.navbar-divider {
  background-color: #444444;
  height: 1px;
}

.is-divider {
  margin: 1.5rem 0;
}

#shi-main .is-divider {
  margin: 0.5rem 0;
}
